
<link rel="stylesheet" href="app/assets/examples/css/pages/forgot-password.css">





        <div class="page vertical-align text-xs-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
            <div class="page-content vertical-align-middle">
                <h2 translate="fpwd.Forgot_Your_Password">Forgot Your Password ?</h2>
                <p translate="fpwd.Input_email">Input your registered email to reset your password</p>
                <form role="form">
                    <div class="form-group">
                        <input type="email" class="form-control" id="inputEmail" data-ng-model="forgotPassword.email" data-ng-disabled="savedSuccessfully" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block" data-ng-disabled="forgotPassword.email == '' || savedSuccessfully" data-ng-click="forgotPwd()" translate="fpwd.Reset_Your_Password">Reset Your Password</button>
                    </div>
                </form>
                <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                    {{message}}
                </div>
                <footer class="page-copyright">
                    <p>Wealthflow</p>
                    <p>© 2017. All RIGHT RESERVED.</p>
                    <div class="social">
                        <a href="javascript:void(0)">
                            <i class="icon bd-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="javascript:void(0)">
                            <i class="icon bd-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="javascript:void(0)">
                            <i class="icon bd-dribbble" aria-hidden="true"></i>
                        </a>
                    </div>
                </footer>
            </div>
        </div>




