
<link rel="stylesheet" href="app/assets/examples/css/pages/login-v3.css">

<style type="text/css">

    .page-content, .page-header, .page {
        background-color: #5cd29d !important;
        
    }
    .content {
        background-color: #5cd29d !important;
    }

    @media (max-width: 479px) {
        .page-header {
            display: none !important;
        }

        .site-navbar {
            display: none !important;
        }

        .site-menubar {
            display: none !important;
        }

        .page-content {
            padding: 0px 0px !important;
        }
    }

</style>


<div class="page-login-v3 layout-full page vertical-align text-xs-center">

    <div class="page-content vertical-align-middle">
        <div class="panel">
            <div class="panel-body">
                <div class="brand">
                    <img class="brand-img" src="app/assets/images/logo-blue.png" alt="...">
                    <h2 class="brand-text font-size-18">Wealthflow</h2>
                </div>
                <form role="form">
                    <div class="form-group form-material floating" data-plugin="formMaterial">
                        <input type="email" class="form-control" name="email" data-ng-model="loginData.userName" autofocus/>
                        <label class="floating-label" translate="login.Email">Email</label>
                    </div>
                    <div class="form-group form-material floating" data-plugin="formMaterial">
                        <input type="password" class="form-control" name="password" data-ng-model="loginData.password" />
                        <label class="floating-label" translate="login.Password">Password</label>
                    </div>



                    <div class="form-group clearfix">
                        <div class="checkbox-custom checkbox-inline checkbox-primary checkbox-lg pull-xs-left">
                            <input type="checkbox" id="inputCheckbox" name="remember">
                            <label for="inputCheckbox" translate="login.Remember_me">Remember me</label>
                        </div>
                        <a class="pull-xs-right" href="#/forgot" translate="login.Forgot_password">Forgot password?</a>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block btn-lg m-t-40" data-ng-disabled="loginData.userName == '' || loginData.password == ''"  data-ng-click="login()" translate="login.Sign_In">
                      Sign In
              
                    </button>

               

                </form>
                <div data-ng-hide="message == ''" class="alert alert-danger">
                    {{message}}
                </div>
                <p>{{'login.Still_no_account_Please_go_to' | translate}} <a href="#/signup" translate="login.Sign_up">Sign up</a></p>
            </div>


          

        </div>
        <footer class="page-copyright page-copyright-inverse"></footer>

    </div>
</div>

