<style>
    .site-action {
        display: none !important;
    }
</style>
 
<div ng-cloak data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert dark alert-icon alert-success alert-dismissible content row' : 'alert dark alert-icon alert-warning alert-dismissible content row'">
    <i class="icon fa fa-check" data-ng-show="(savedSuccessfully)"></i>
    <i class="icon fa fa-warning" data-ng-show="(!savedSuccessfully)"></i>
    {{message}}
</div>   
   
<div class="row" data-ng-show="authentication.isAuth">
    <div class="panel" id="user-settings">
        <div class="panel-heading">
            <h3 class="panel-title">
                User profile
            </h3>
            <div class="panel-actions panel-actions-keep">
                <a class="panel-action icon wb-close" href="#/dashboard" aria-hidden="true"></a>
            </div>

        </div>
        <div class="panel-body">

            <ul class="list-group">
                <li class="list-group-item">
                    <div class="media">
                        <div class="media-body">
                            <h4>Avatar</h4>
                            <div class="col-xs-12 col-lg-12 col-xl-12">
                                <span>&nbsp;</span>
                                <ul class="list-unstyled list-inline">
                                    <li class="list-inline-item">
                                        <a class="avatar avatar-lg m-5" href="javascript:void(0)" ng-click="avatarClick(0)">
                                            <img src="app/global/portraits/0.png" alt="">
                                            <span ng-show="curAvatar == 0"><i class="wb-check-circle"></i></span>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="avatar avatar-lg m-5" href="javascript:void(0)" ng-click="avatarClick(1)">
                                            <img src="app/global/portraits/1.png" alt="">
                                            <span ng-show="curAvatar == 1"><i class="wb-check-circle"></i></span>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="avatar avatar-lg m-5" href="javascript:void(0)" ng-click="avatarClick(2)">
                                            <img src="app/global/portraits/2.png" alt="">
                                            <span ng-show="curAvatar == 2"><i class="wb-check-circle"></i></span>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="avatar avatar-lg m-5" href="javascript:void(0)" ng-click="avatarClick(3)">
                                            <img src="app/global/portraits/3.png" alt="">
                                            <span ng-show="curAvatar == 3"><i class="wb-check-circle"></i></span>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="avatar avatar-lg m-5" href="javascript:void(0)" ng-click="avatarClick(4)">
                                            <img src="app/global/portraits/4.png" alt="">
                                            <span ng-show="curAvatar == 4"><i class="wb-check-circle"></i></span>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="avatar avatar-lg m-5" href="javascript:void(0)" ng-click="avatarClick(5)">
                                            <img src="app/global/portraits/5.png" alt="">
                                            <span ng-show="curAvatar == 5"><i class="wb-check-circle"></i></span>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="avatar avatar-lg m-5" href="javascript:void(0)" ng-click="avatarClick(6)">
                                            <img src="app/global/portraits/6.png" alt="">
                                            <span ng-show="curAvatar == 6"><i class="wb-check-circle"></i></span>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="avatar avatar-lg m-5" href="javascript:void(0)" ng-click="avatarClick(7)">
                                            <img src="app/global/portraits/7.png" alt="">
                                            <span ng-show="curAvatar == 7"><i class="wb-check-circle"></i></span>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="avatar avatar-lg m-5" href="javascript:void(0)" ng-click="avatarClick(8)">
                                            <img src="app/global/portraits/8.png" alt="">
                                            <span ng-show="curAvatar == 8"><i class="wb-check-circle"></i></span>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="avatar avatar-lg m-5" href="javascript:void(0)" ng-click="avatarClick(9)">
                                            <img src="app/global/portraits/9.png" alt="">
                                            <span ng-show="curAvatar == 9"><i class="wb-check-circle"></i></span>
                                        </a>
                                    </li>
                                </ul>
                                <span>&nbsp;</span>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="media">
                        <div class="media-body">
                            <h4>Subscription</h4>
                            <div class="col-xs-12 col-lg-12 col-xl-12">
                                <div class="green-600 font-size-20 col-xs-12 col-lg-12 col-xl-12" style="margin:10px;">
                                    <i class="icon wb-globe" aria-hidden="true"></i>
                                    WORLD
                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-12 col-xl-12">We are currently don't allow change subscription type. We are planning upgrade this software and make it available later. Follow <a href="http://www.wealthflowapp.com">updates</a>.</div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="media">
                        <div class="media-body">
                            <h4>Password</h4>
                            <div class="col-xs-12 col-lg-12 col-xl-12">To change password, click <a href="#/changePassword">here</a>.</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

