    
<div class="row" data-ng-show="authentication.isAuth">




    <div class="panel" id="report-trends">
        <div class="panel-heading">
            <h3 class="panel-title" translate="repTrends.Trends">Trends</h3>
            <div class="panel-actions panel-actions-keep">
                <a class="panel-action icon wb-close" href="#/dashboard" aria-hidden="true"></a>
            </div>
        </div>
        <div class="panel-body">


            <div class="col-xl-6 col-md-6 col-xs-12 ">
                <div class="card ">
                    <div class="card-block bg-white p-20">
                        <button type="button" class="btn btn-floating btn-sm btn-warning" ng-click="go('/reportExpensises')">
                            <i class="icon wb-shopping-cart"></i>
                        </button>
                        <span class="m-l-15 font-weight-400"><a style="color:#76838f" href="#/reportExpensises" translate="repTrends.EXPENSES">EXPENSES</a></span>
                        <div class="content-text text-xs-center m-b-0">
                            <i class="text-danger icon wb-triangle-up font-size-20" ng-show="dashboard.expensisesTrend > 0">
                            </i>
                            <i class="text-success icon wb-triangle-down font-size-20" ng-show="dashboard.expensisesTrend < 0">
                            </i>
                            <span class="font-size-40 font-weight-100">
                            
                                <span data-ng-show="homeCurrency =='USD'">$</span>
                                <span data-ng-show="homeCurrency =='EUR'">&euro;</span>
                                <span data-ng-show="homeCurrency =='RUB'" class="fa-rub"></span>
                                <span data-ng-show="homeCurrency !='USD'
                                              && homeCurrency !='EUR'
                                              && homeCurrency !='RUB'">
                                    {{ homeCurrency }}
                                </span>

                             {{ dashboard.expensisesValue | number }}</span>
                            <p class="blue-grey-400 font-weight-100 m-0" ng-show="dashboard.expensisesTrend != 0"> <span ng-show="dashboard.expensisesTrend > 0">+</span>{{ dashboard.expensisesTrend }}% {{'repTrends.from_previous_month' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6 col-xs-12">



                <div class="card ">
                    <div class="card-block bg-white p-20">
                        <button type="button" class="btn btn-floating btn-sm btn-success" ng-click="go('/reportIncomes')">
                            <i class="icon fa-dollar"></i>
                        </button>
                        <span class="m-l-15 font-weight-400"><a style="color:#76838f" href="#/reportIncomes" translate="repTrends.INCOME">INCOME</a></span>
                        <div class="content-text text-xs-center m-b-0">
                            <i class="text-success icon wb-triangle-up font-size-20" ng-show="dashboard.incomeTrend > 0">
                            </i>
                            <i class="text-danger icon wb-triangle-down font-size-20" ng-show="dashboard.incomeTrend < 0">
                            </i>
                            <span class="font-size-40 font-weight-100">
                            
                                <span data-ng-show="homeCurrency =='USD'">$</span>
                                <span data-ng-show="homeCurrency =='EUR'">&euro;</span>
                                <span data-ng-show="homeCurrency =='RUB'" class="fa-rub"></span>
                                <span data-ng-show="homeCurrency !='USD'
                                              && homeCurrency !='EUR'
                                              && homeCurrency !='RUB'">
                                    {{ homeCurrency }}
                                </span>

                             {{ dashboard.incomeValue | number }}</span>
                            <p class="blue-grey-400 font-weight-100 m-0" ng-show="dashboard.incomeTrend != 0">
                            <span ng-show="dashboard.incomeTrend > 0">+</span>
                            {{ dashboard.incomeTrend }}% {{'repTrends.from_previous_month' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-xl-12 col-md-12 col-xs-12" ng-show="trends.length > 0">
                <div >
              



                    <canvas id="line" class="chart chart-line" chart-data="data"
                            chart-labels="labels" chart-series="series" 
                             ></canvas>





                </div>
            </div>

    
            <!--<div class="parent-no-data" ng-show="trends.length == 0">
                <div class="chield-no-data">there is no data</div>
            </div>-->
       


           
        </div>
    </div>





</div>


