<style>
    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 52px;
        height: 30px;
    }

        /* Hide default HTML checkbox */
        .switch input {
            display: none;
        }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 22px;
            width: 22px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #5cd29d;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px rgb(82, 96, 105);
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(22px);
        -ms-transform: translateX(22px);
        transform: translateX(22px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 30px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>
    
   
<div class="row" data-ng-show="authentication.isAuth">



    <div class="panel" id="user-settings">
        <div class="panel-heading">
            <h3 class="panel-title" translate="settings.Settings">
                Settings
            </h3>
            <div class="panel-actions panel-actions-keep">
                <a class="panel-action icon wb-close" href="#/dashboard" aria-hidden="true"></a>
            </div>

        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="media">
                        <div class="media-body" translate="settings.Latest_transaction">
                            Latest transaction
                        </div>
                        <div class="media-right">
                            <label class="switch"><input type="checkbox" id="chBoxLatestTransaction" ng-click="checkboxClick('chBoxLatestTransaction')"><div class="slider round"></div></label>
                         </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="media">
                        <div class="media-body" translate="settings.Trends">
                            Trends (expenses/incomes)
                        </div>
                        <div class="media-right">
                            <label class="switch"><input type="checkbox" id="chBoxTrends" ng-click="checkboxClick('chBoxTrends')"><div class="slider round"></div></label>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="media">
                        <div class="media-body" translate="settings.Balance_information">
                            Balance information
                        </div>
                        <div class="media-right">
                            <label class="switch"><input type="checkbox" id="chBoxBalance" ng-click="checkboxClick('chBoxBalance')"><div class="slider round"></div></label>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="media">
                        <div class="media-body" translate="settings.Transactions_log">
                            Transactions log
                        </div>
                        <div class="media-right">
                            <label class="switch"><input type="checkbox" id="chBoxTransactionLog" ng-click="checkboxClick('chBoxTransactionLog')"><div class="slider round"></div></label>
                        </div>
                    </div>
                </li>

                <li class="list-group-item" data-ng-show="settings.subscriptionType != 'BASIC_'">
                    <div class="media">
                        <div class="media-body" translate="settings.Goals">
                            Goals
                        </div>
                        <div class="media-right">
                            <label class="switch"><input type="checkbox" id="chBoxGoals" ng-click="checkboxClick('chBoxGoals')"><div class="slider round"></div></label>
                        </div>
                    </div>
                </li>

                <li class="list-group-item" data-ng-show="settings.subscriptionType != 'BASIC_'">
                    <div class="media">
                        <div class="media-body" translate="settings.Calendar">
                            Calendar
                        </div>
                        <div class="media-right">
                            <label class="switch"><input type="checkbox" id="chBoxCalendar" ng-click="checkboxClick('chBoxCalendar')"><div class="slider round"></div></label>
                        </div>
                    </div>
                </li>

                <li class="list-group-item" data-ng-show="settings.subscriptionType != 'BASIC_'">
                    <div class="media">
                        <div class="media-body" translate="settings.Budget">
                            Budget
                        </div>
                        <div class="media-right">
                            <label class="switch"><input type="checkbox" id="chBoxBudget" ng-click="checkboxClick('chBoxBudget')"><div class="slider round"></div></label>
                        </div>
                    </div>
                </li>

                <li class="list-group-item" data-ng-show="settings.subscriptionType != 'WORLD' && settings.subscriptionConfirmed == true">
                    <div class="media">
                        <div class="media-body" translate="settings.Cryptobill">
                            Cryptobill
                        </div>
                        <div class="media-right">
                            <label class="switch"><input type="checkbox" id="chBoxCryptobill" ng-click="checkboxClick('chBoxCryptobill')"><div class="slider round"></div></label>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>



</div>

